/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 mai 2018, 09:43:45
    Author     : A0H31387
*/

.main{
    margin-top: 15px;
    width: 100%;
    height: 100%;
    
}
