/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 mai 2018, 09:43:45
    Author     : A0H31387
*/

.main{
    margin-top: 15px;
    width: 100%;
    
    
}
.main h1{
    text-align: center;
    font-weight: bold;
}
table{
    margin-top: 5%;
    width: 80%;
    border: solid #00a491 5px;
    margin-left: 10%;
}

table tr:first-child td{
    background-color: #cad0d1;
    color:black;
    font-weight: bold;
    padding: 15px 5px;
    text-align: center;
    border: none;
}
table tr td{
    padding: 15px 5px;
    text-align: center;
    border-bottom: solid #142559 1px;
    font-size: 30px;
}
h4{
    font-size: 30px;
}
footer{
    font-size: 30px;
    margin-top: 5%;
    text-align: center;
}
.footer_logo{
    text-align: right;
    padding-right: 1%;
}