<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<nav>
    <div class="col-sm-12 row">
        <div class="col-sm-4" id="logo_div">
            <a href="index.php" target="_self">
                <img alt="tribHut logo" title="tribHut" src="img/logo-tribHut2.png" width="225">
            </a>
        </div>
        <div class="col-sm-4" id="nav_middle">
            <h5>EVERYONE CAN CONTRIBUTE</h5>
        </div>
        <div class="col-sm-4" id="nav_help">
            <a href="community.php" target="_self">
                <img alt="help button" title="Help" src="img/helpBtn.png" width="100">
            </a>
            
        </div>
    </div>
</nav>
